
@font-face {
    font-family: 'lemonmilk';
    src: url('lemonmilk-webfont.woff') format("woff"),
	 url('lemonmilk-webfont.woff2') format("woff2");
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
}

h1 {
    font-family: 'lemonmilk', sans-serif;
    font-weight: 200;
    font-size: 2.25vw;
    margin: 0 0 23px 0;
    color: #262262;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    }
h1.PageTitle {
	font-family: 'lemonmilk', sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: #262262;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h1.banner {
    font-size: 80px;
    color: #f5d376;
    text-decoration: none;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 23px;
    margin: 0 0 5px 0;
    }

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.bigtext {
    font-size: 80px;
    color: #f5d376;
    text-decoration: none;
}

a:any-link {
    text-decoration: none;
     color: #262262;
}

/* WebKit browsers */
a:-webkit-any-link {
  text-decoration: none;
   color: #262262;
}

a.typewrite: {
    font-size: 80px;
    color:  color: #f5d376;
    text-decoration: none;
}
a.typewrite:visited {
    font-size: 80px;
     color: #f5d376;
    text-decoration: none;
}

body{
    background-color: #F5F5F5;
}

#showcase{
    min-width: 1800px;
    min-height: 900px;
  background:url('../images/indexbanner1.jpg') no-repeat center;
  background-size: contain;
  align-self: center;
  text-align:center;
  color:#ffffff;
}

#PageTitle {
    align-self: left, bottom;
    align-self: bottom;
}

#platshowcase{
    min-width: 1800px;
    min-height: 900px;
  background:url('../images/socbanner.png') no-repeat center;
  background-size: contain;
  align-self: center;
  text-align:center;
  color:#ffffff;
}

.footer{
	width: 90%;
	padding-right: 15px;
    padding-left: 15px;
    padding-top:  40px;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

.aboutpics {
	width: 300px;
	height: 300px;
	border-radius: 50%;
    display: inline-block;
}

.aboutinfo {
	width: 65%;
    margin-left: 5%;
    display: inline-block;
    position: relative;
}

.socials {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.column-sm {
    float: left;
    width: 25%;
}

.column-md {
    float: left;
    width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.column-Name {
    float: left;
    width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.column-Position {
    float: left;
    width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.home-wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.meet-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.space {
	padding-left: 17px;
    padding-right: 17px;
	position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}

.pic-container{
        max-width: 600px;
        overflow: hidden;
}

.portrait{
        max-width: 300px;
        overflow: hidden;
        align-self: center;
}

.center {
    margin: 0 auto;
    width: 90%;
}

.post-preview{
	display: block;
}

input.mybutton {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: Dosis;
    font-weight: 200;
    align-self: center;
}

img{
    width: 100%;
    object-fit: contain;
   	padding-top: 10px;
    padding-bottom: 10px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

header a {
    text-decoration: none;
    font-family: 'lemonmilk', sans-serif;
    color: black;
    font-size: 1vw;
    color: #262262;
    text-decoration: none;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

.showcon{
    align-self: center;
    font-size: xx-large;
}
